{% load static %} {% block content %} {% include "common/head.html" %}
<div class="max-w-3xl mx-auto px-2 py-10">
  <form method="POST" class="flex flex-col gap-2">
    {% csrf_token %}
    <div>{{form.text}}</div>
    <div class="flex justify-end">
      <button type="submit" style="padding: 7px 10px">Post Message</button>
    </div>
  </form>
  {% if questions|length > 0 %}
  <div class="text-center text-2xl font-bold">Feeds</div>
  <div class="flex flex-col gap-3 mt-2 max-h-screen overflow-y-auto">
    {% for val in questions %}
    <div
      class="p-2 flex flex-col gap-1 border-2 rounded-sm bg-gray-50 cursor-pointer questions mb-2"
    >
      <div class="flex justify-between items-center">
        <div class="text-xs">Posted by {{val.author.username}}</div>
        <div class="flex gap-1">
          <div id="message-like-icon-{{val.id}}">
            {% if val.id in user_likes %}
              <i class="fa fa-heart text-xl text-red-500" aria-hidden="true" onclick="likePost({{val.id}})"></i>
            {% else %}
              <i class="fa fa-heart-o text-xl text-red-500" aria-hidden="true" onclick="likePost({{val.id}})"></i>
            {% endif %}
          </div>
          <span id="message-like-{{val.id}}">{{val.message_like.all.count}}
        </div>
      </div>
      <div class="text-lg font-bold hover:underline">{{val.text|capfirst}}</div>
      <div class="bg-gray-400 py-2 px-1 rounded-sm text-[#000]">
        {% if val.comments.all %} {% with most_recent_answer=val.comments.first%}
        <p>
          <span class="text-xs font-semibold">Last comment time:</span>
          {{most_recent_answer.created_at }}
        </p>
        <p class="max-w-[90%] text-justify">
          <span class="text-xs font-semibold">Lastest comment:</span>
          {{most_recent_answer.text|safe|truncatechars:200 }}
        </p>
        <div class="my-1 font-bold flex justify-center gap-1">
          <p
            data-target="content-{{val.id}}"
            class="toggle-button"
            data-action="show"
          >
            Show More Comments
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>

        {% if val.comments.all %}
        <div
          id="content-{{val.id}}"
          style="display: none"
          class="max-h-[300px] overflow-y-auto h-full"
        >
          {% for answer in val.comments.all%}
          <div
            class="ml-3 my-3 bg-white px-2 py-2 rounded-sm flex flex-col gap-1"
          >
            <div class="flex justify-between items-center">
              <div class="font-bold max-w-[70%] text-justify">
                {{answer.text}}
              </div>
              <div class="text-xs">{{answer.created_at}}</div>
            </div>
            <div class="flex justify-between items-center">
              <div class="font-bold text-xs">
                Comment by {{answer.author.username}}
              </div>
              <button
                class="px-3 py-1 rounded-full border-2 border-black text-sm font-bold"
                onclick="likeComment({{answer.id}})"
              >
                <span id="like-{{answer.id}}" value="{{answer.likes.all.count}}"
                  >{{answer.likes.all.count}}</span
                >^ Like
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %} {% else %}
        <div class="text-sm font-bold hover:underline text-[#CECFD0]">
          No comments yet
        </div>
        {% endif %}
      </div>
      <div class="mt-2">
        <button
          class="flex gap-1 py-2 border-2 px-5 rounded-full hover:bg-gray-200"
          onclick="showOverLay('{{val.text}}',{{val.id}});"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
            />
          </svg>
          Comment
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<div
  class="hidden absolute top-0 bg-[#00000080] w-screen h-screen justify-center items-center"
  id="overlay"
>
  <!-- This is the overlay content -->
  <form
    method="POST"
    class="w-[500px] bg-white py-10 px-5 rounded-sm"
    id="form"
  >
    <h1 class="text-lg font-bold mb-2 capitalize" id="text"></h1>
    {% csrf_token %} {{answer.text}}
    <div class="flex justify-end gap-2 mt-2">
      <button type="button" style="padding: 7px 10px" onclick="hideOverLay();">
        Cancel
      </button>
      <button type="submit" style="padding: 7px 10px">Post Comment</button>
    </div>
  </form>
</div>
{% endblock %}
<script src="{% static 'js/main.js' %}"></script>
